/* Import Inter Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Global Font */
body, .navbar, .footer, .card {
  font-family: 'Montserrat', sans-serif;
}

a{
  text-decoration: none;
}

/* Navbar and Footer */
.navbar, footer {
    background-color: #F9F9F9;
}

.navbar .nav-link, footer p {
    color: black !important;
}

.navbar .nav-link:hover {
    color: #E5E5E5 !important;
}

#navbarNav{
    flex-grow: 0;
}

/* Page Background */
body {
    background-color: #eee;
    color: white;
    margin: 0; 
}

#back_button{
    background-color: #eee;
    margin: 0; 
    color: black;
    cursor: pointer;
}

#back_button:hover{
  color: rgb(105, 100, 100);
}

.form-group label{
  margin-bottom: .5rem;
  color: black;
}

.form-group input{
  padding: 10px;
}

.form-select{
  padding: 10px;
}

#heading{
  color: rgb(134, 131, 131);
}

.btn-med {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  gap: 8px;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 8px;
  height: 56px;
}

.btn-primary{
  background-color: #6e7a7e;
  color: #F4F6F7;
  border: none !important;
  box-shadow: none !important;
}

.btn-primary:hover{
  background-color: #046b04;
}

.btn-secondary{
  background-color:#fff;
  border-color: red;
  color: red;
}

.btn-secondary:hover{
  background-color: rgb(226, 69, 69);
  color: #fff;
}

/* Footer Text */
footer p {
  margin: 0;
  padding: 0.25rem; /* Reduced padding for footer text */
  font-size: 13px; /* Slightly smaller font size */
}

/* Apply flexbox to the body and ensure it stretches to fill the viewport */
html, body {
  height: 100%; /* Ensures the body fills the entire height of the viewport */
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* The main container (content area) should grow to push the footer down */
.container {
  flex: 1; /* Ensures the container takes up all available space between navbar and footer */
  padding: 1rem; /* Reduced padding inside the container */
}

#form-div{
  border-radius: 36px;
  background-color: #F4F6F7;
  width: 100%;
}



/* Footer remains at the bottom but doesn't overlap content */
footer {
  background-color: #F9F9F9;
  color: black;
  text-align: center;
  padding: 0.75rem 0; 
}


/* Confirmation Model Design */
.btn-no-border {
  border: none !important;
  box-shadow: none !important;
}

.modal-dialog {
  max-width: 40%;
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - 1rem);
}

.modal-body{
  background-color: #F4F6F7;
  margin-bottom: 30px;
  font-size: 1.2rem;
}
.modal-header{
  background-color: #066e06;
  color: #F4F6F7;
}

.modal-title{
  font-size: 1.6rem;
}

.modal-footer button{
  padding: 10px 24px;
  border-radius: 8px;
} 
