.btn-secondary{
  background-color:#fff;
  border-color: red;
  color: red;
}

.btn-secondary:hover{
  background-color: rgb(226, 69, 69);
  color: #fff;
}

.modal-header{
  background-color: #066e06;
  color: #F4F6F7;
}

.modal-header-report{
  background-color: #d7d94f;
  color: #F4F6F7;
}

#alertContainer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1055;
  max-width: 500px;
}

.custom-alert {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  animation: slideIn 0.3s ease-out;
}

.img-thumbnail {
  object-fit: cover;
  border-radius: 6px;
}

@keyframes zoomIn {
  from {
    transform: scale(0.85);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-zoom {
  animation: zoomIn 0.3s ease-in-out;
  transition: transform 0.3s;
}

#photoModal .modal-content {
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  border-radius: 12px;
}


#maintenanceImage {
  border: 2px dashed #bbb;
  padding: 10px;
  background-color: #f9f9f9;
  transition: 0.3s ease-in-out;
}
#maintenanceImage:hover {
  background-color: #f0f0f0;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
